<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="heading">
            <h3><i class="ri-store-2-line"></i> Library Dashboard</h3>
        </div>
        <div id="side">
            <div id="side1">
                <h3 (click)="goToHome()"><i class="ri-home-line"></i> Home</h3>
                <h3 (click)="goToAuthor()"><i class="ri-briefcase-line"></i> Author</h3>
                <h3 (click)="goToPublisher()"><i class="ri-briefcase-line"></i> Publisher</h3>
                <h3 (click)="goToBook()"><i class="ri-briefcase-line"></i> Books</h3>
                <h3 (click)="goToStudent()"><i class="ri-briefcase-line"></i> Student</h3>
            </div>
            <div id="side2">
                <img src="/assets/d.png" alt="No Image">
            </div>
        </div>
    </div>
</body>
</html>
