<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div id="main">
        <div id="nav">
           <div id="nav-1">
            <i class="ri-school-line"></i>
            <h2>LMS</h2>
           </div>
            <div id="nav-2">
                <h4>Home</h4>
                <h4>About Us</h4>
                <h4>Contact</h4>
                <button (click)="getTologin()">Login</button>
                <i class="ri-menu-search-fill"></i>
            </div>
        </div>
        <div id="content">
            <div class="left">
                <h2>We are the best <span>Library</span> in the city..You will <s>Enjoy</s> <span> LOVE</span> the process of reading</h2>
                <p>“Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.”
                   <span>― John Green, The Fault in Our Stars</span> </p>
                <p>
                    I find television very educating. Every time somebody turns on the set, I go into the other room and read a book. </p>

                    <div id="newRegistration">
                     <p>Not a member ?</p>
                    <button (click)="goToAuthentication()">Sign Up </button>
                    </div>
            </div>
           
            <div class="right">
                <img src="/a" alt="">
            </div>
            
        </div>
    </div>
</body>
</html>
